.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
position:relative;
overflow:hidden;
text-align:center;
background:#000;
}

/* PLANET */

.planet{

position:absolute;
width:600px;
height:600px;
border-radius:50%;

background:
radial-gradient(circle at 30% 30%,#ffd84a,#f59e0b,#5b2100);

box-shadow:
0 0 120px rgba(255,200,0,.4);

animation:spin 60s linear infinite;

/* IMPORTANT */
z-index:1;

}

/* CONTENT */

.content{
position:relative;
z-index:2;
max-width:900px;
}

/* TITLE */

h1{

font-family:"Orbitron",sans-serif;
font-size:64px;
letter-spacing:3px;

background:linear-gradient(90deg,#fff,#ffd84a,#fff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

text-shadow:
0 0 30px rgba(255,216,74,.6);

margin-bottom:20px;

}

/* TEXT */

.tagline{

font-size:22px;
margin-bottom:10px;
opacity:.9;

}

.sub{

font-size:18px;
opacity:.7;

}
